# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
.venv/
venv/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
